<nav class="navbar navbar-default no-bottom-margin" id="bottom-navigation">
    <div class="container-fluid">
        <div class="footer-container">
            <div class="container">
                <div class="row get-parent-height">
                    <div class="col-md-7">
                        <div class="footer-main-container">
                            <div class="footer-main-container-title">
                                Footer
                            </div>
                            <div class="footer-main-container-content">
                                <p>
                                    This is all about the footer.
                                </p>

                                <p>
                                    Wanna know more? go to <a href="http://www.google.ch">Google</a>
                                </p>
                                <br/>

                                <p>
                                    Some infos about Facebook, Twitter and other social media.
                                    <br/>
                                    <button type="button" class="btn btn-footer1" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Like
                                    </button>
                                    <button type="button" class="btn btn-footer2" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                                    </button>
                                    <button type="button" class="btn btn-footer3" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Ring
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footer-info-container">
                            <div class="footer-info-container-title">
                                List section
                            </div>
                            <div class="footer-info-container-list">
                                <ul>
                                    <li>A lot of Basic stuff</li>
                                    <li>You can add and delete other stuff</li>
                                    <li>Including vector graphics</li>
                                    <li>Use some color swatches</li>
                                    <li>Built with bootstrap and angularjs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</nav>