<div class="container-fluid initial-padding-top front-page" id="title-container">
    <div class="row">
        <div class="col-md-12 no-padding">
            <div id="front-page">
                <p class="front-page-title">Welcome to the Frontpage</p>
                <p class="front-page-subtitle">This site is a test-site for a backend!</p>

                <img src="images/compas.svg" class="img-rounded add-bottom-margin add-top-margin" height="200px" width="200px">

                <p class="front-page-info add-bottom-margin">I'd like to say...</p>

                <p>
                    <button type="button" class="btn btn-title">More about</button>
                </p>
            </div>
        </div>
    </div>
</div>