<div class="container min-height" id="control-container">
    <div class="row">
        <div class="col-md-12 basic-container">
            <div class="page-header make-title">Create a Hello</div>

            <div class="create-container">
                <div class="form-group">
                    <label for="createId">Content:</label>
                    <input type="text" class="form-control input-design" id="createId" placeholder="insert hello-content"
                           ng-model="hello.content"/>
                </div>
                <button type="button" class="btn btn-warning" ng-click="createNewHello()">Create</button>
            </div>
        </div>
    </div>
</div>