<div class="container min-height" id="control-container">
    <div class="row">
        <div class="col-md-12 basic-container">
            <div class="page-header make-title">Hello: {{hello.id}}</div>
            id: {{hello.id}} <br/>
            content: {{hello.content}}
            <br/>
            <a type="button" class="btn btn-danger" ng-click="removeHello(hello.id)" href="/#/hello">Delete</a>
            <a type="button" class="btn btn-warning" href="/#/hello">Back</a>
        </div>
    </div>
</div>